{% extends 'registration/base.html' %}
{%  load static i18n %}

{% block reg-content %}

<form class="login100-form validate-form" method="post">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        {% trans "Sign up !" %}
    </span>

    {% if form.errors %}
        <p style="text-align: center; color:red; padding-bottom: 3px;">{% trans "An error is present in your form. Please try again." %}</p>
    {% endif %}

    {% for field in form %}
        <div class="wrap-input100 validate-input my-form-input">
            {{ field }}
            <span class="focus-input100"></span>
            {{ field.label_tag }}
        </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}

    <br/>
    <br/>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            {% trans "Save" %}
        </button>
    </div>

</form>

{% endblock %}

