{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
    {% if user.is_authenticated %}
        <style>
        </style>

        <!-- Page Content -->
        <div class="container serie-detail">

            <!-- Page Features -->
            <div class="row" style="margin:auto;">
                <div class="card h-100">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
{#                          {{ form }}#}
                            <table class="form-tab">
                                {% for field in form %}
                                    <tr>
                                        <td>{{ field.label_tag }}</td>
                                        <td>{{ field }}</td>
                                    </tr>
                                    {% if field.help_text %}
                                        <tr><td colspan="2" style="color: grey">{{ field.help_text }}</td></tr>
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <tr><td colspan="2" style="color: red">{{ error }}</td></tr>
                                    {% endfor %}
                                {% endfor %}
                                <tr><td colspan="2"><button type="submit" class="log-btn">{% trans 'Save' %}</button></td></tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->



    {% else %}
      <p>{% trans "You are not logged in." %}</p>
      <a class="log-btn" href="{% url 'login' %}">{% trans "Login" %}</a>
    {% endif %}


{% endblock %}