{% extends 'registration/base.html' %}
{%  load static i18n %}

{% block reg-content %}

<form class="login100-form validate-form" method="post">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        {%  trans "Password reset message sent" %}
    </span>

    <div class="wrap-input100" style="height:auto">
        <p style="padding:20px">
            {%  trans "We’ve emailed you the instructions for changing your password, as long as an account exists with the address you specified. You should receive this message quickly. If you do not receive a message, verify that you have entered the address you registered with and check your spam folder." %}
        </p>
    </div>

    <br/>
    <br/>

    <div class="container-login100-form-btn">
        <a class="login100-form-btn" style="color:white!important" href="{% url 'app_index' %}">
            {% trans "Home" %}
        </a>
    </div>
</form>

{% endblock %}