{%  load static i18n %}

{% comment %}
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src={{ object.photo.url }} alt="">
        <div class="card-body">
            <h4 class="card-title">{{ object.title }}</h4>
            <p class="card-text">{{ object.description|truncatechars:150 }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'app_serie_title' object.title %}" class="btn btn-primary">{% trans "See more" %}</a>
        </div>
    </div>
</div>
{% endcomment %}

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100 serie-card">
        <a href="{% url 'app_serie_title' object.title %}">
            <figure>
                <img class="card-img-top" src={{ object.photo.url }} alt="">
                <figcaption>
                    <div class="fig-title">{{ object.title }}</div>
				    <div class="fig-details">
                        {{ object.nationalite }}, {{ object.yearpublished }}
                    </div>
                </figcaption>
            </figure>
        </a>
    </div>
</div>