{%  load static i18n%}
<!DOCTYPE html>
<html lang="fr">
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Serie and Chill</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'css/heroic-features.css' %}">

      <!-- Fonts -->
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">


    </head>
    <body>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'app_index' %}" style="font-weight: bold;">Serie and Chill</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'app_index' %}">{% trans "Home" %}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app_serie_categorie' %}">{% trans "Category" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app_serie_nationality' %}">{% trans "Nationality" %}</a>
              </li>
              <li class="nav-item">
                <form action="{% url 'app_serie_search' %}" method="get" autocomplete="off" style="padding-top: 2.5px">
                    <input type="text" id="search_title" name="content" placeholder="{% trans "Search" %}..."/>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </li>
              <li class="nav-item">
                <a class="nav-link log-btn" href="{% url 'app_login' %}">{% trans "Connexion" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock %}


      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Mon Site 2019</p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>
</html>