{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">{% trans "Category" %}</h1>
        {% for object in categories %}
{#            <a href="{% url 'app_serie_categorie_title' object.name %}">#}
{#                <button class="btn btn-primary btn-lg" style="margin: 15px 10px">#}
{#                  {{ object.name }}#}
{#                </button>#}
{#            </a>#}
            <a class="btn btn-primary btn-lg" style="margin: 15px 10px" href="{% url 'app_serie_categorie_title' object.name %}">
                {{ object.name }}
            </a>
        {% endfor %}
    </header>

    <!-- Page Features -->
    <div class="row text-center">

{#        <select id="category" name="category">#}
{#            <option selected>Tous</option>#}
{#            {% for object in categories %}#}
{#            <option value="{{ object.name }}">{{ object.name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}

    </div>

    <div class="row text-center">

    {% comment %}
        {% for object in series %}
        {{ object.categorie.all }}
            {% if object.title == 'The Boys' %}
            {% if 'The Boys' in object.title %}
            {% if object.title|first in 'T' %}

            {% if object.title == request.GET.title %}
            {{request.GET.title}}
    {% endcomment %}

        {% for object in object_list %}
            {% include "included/seriegrid.html" %}
        {% endfor %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}