{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Features -->
    <div class="row text-center">

    {% for object in categories %}
    <div class="col-lg-1 col-md-4">
        <div style="padding-top: 20px; padding-bottom: 20px">
            <a href="{% url 'app_serie_categorie_title' object.name %}">
                <button class="btn btn-primary">{{ object.name }}</button>
            </a>
        </div>
    </div>
    {% endfor %}
    </div>

    <div class="row text-center">

    {% comment %}
        {% for object in series %}
        {{ object.categorie.all }}
            {% if object.title == 'The Boys' %}
            {% if 'The Boys' in object.title %}
            {% if object.title|first in 'T' %}

            {% if object.title == request.GET.title %}
            {{request.GET.title}}
    {% endcomment %}

        {% for object in object_list %}
            {% include "included/seriegrid.html" %}
        {% endfor %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}