{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
  <!-- Page Content -->
  <div class="container grid-result">

    <!-- Page Features -->
    <div class="row text-center">
        {% for object in object_list %}
{#            {% if object.title in request.GET.title %}#}
                {% include "included/seriegrid.html" %}
{#            {% endif %}#}
        {% empty %}
            <p style="margin: auto; padding:350px 0 374px 0; font-weight: bold">{% trans 'Sorry, no series found' %}.</p>
        {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}