{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
  <!-- Page Content -->
  <div class="container serie-detail">

    {% for object in object_list %}
    <img src={{ object.photo.url }} alt="">

    <!-- Page Features -->
    <div class="row text-center details">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">{{ object.title }}</h4>
                <p class="card-text">{{ object.description }}</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    {% endfor %}
  </div>
  <!-- /.container -->

{% endblock %}