{% extends 'base.html' %}
{%  load static i18n %}

{% block content %}
  <!-- Page Content -->
  <div class="container serie-detail">

    {% for object in object_list %}
    <!-- Page Features -->
    <div class="row">
        <div class="card h-100">
            <div class="card-body">
                <div class="grid">
                    <div class="left">
                        <img src={{ object.photo.url }} alt="cover">
                    </div>
                    <div class="right">
                        <h4 class="card-title" style="font-size: xx-large">{{ object.title }}</h4>
                        <p><span class="info">{% trans "Gender" %} : </span>{{ object.categories.all|join:", " }}</p>
                        <p><span class="info">{% trans "Nationality" %} : </span>{{ object.nationalite }}</p>
                        <p><span class="info">{% trans "Of" %} : </span>{{ object.director }}</p>
                        <p><span class="info">{% trans "With" %} : </span>{{ object.actor }}</p>
                        <p>
                            <span class="info">{% trans "Rate" %} : </span>{{ object.rate }}/5
                            <span class="fa fa-star {% if object.rate >= 1 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if object.rate >= 2 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if object.rate >= 3 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if object.rate >= 4 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if object.rate >= 5 %}checked{% endif %}"></span>
                        </p>
                    </div>
               </div>
                <div class="stats-numbers-grid">
                    <div class="item">
                        <div class="number">{{ object.yearpublished }}</div>
                        <div class="info">{% trans "Since" %}</div>
                    </div>
                    <div class="item">
                        <div class="number">{{ object.seasonNumb }}</div>
                        <div class="info">{% trans "Season(s)" %}</div>
                    </div>
                    <div class="item">
                        <div class="number">{{ object.epNumb }}</div>
                        <div class="info">{% trans "Episode(s)" %}</div>
                    </div>
                </div>
                <p class="card-text serie-descr">{{ object.description }}</p>
                <br/>
                <br/>
                <br/>

{#-------------------------------------------------------------------------------------------------------------------#}

                <!-- comments container -->
                <div class="comment_block">

                    <a href="{% url "app_comment_create" %}?serie_id={{ object.id }}">
                        <div class="create_new_comment">
                            <div class="input_comment">
                                <input type="text" placeholder="{% trans 'Write a comment' %}...">
                            </div>
                        </div>
                    </a>
                    {% for object in comments %}
                        <!-- new comment -->
                        <ul class="new_comment">
                            <!-- build comment -->
                            <ul>
                                <!-- inc. date and time -->
                                <div class="comment_details">
                                    <ul>
                                        <li><i class="fa fa-pencil"></i><span>{{ object.creator }}</span></li>
                                        <li><i class="fa fa-calendar"></i><span>{{ object.postdate }}</span></li>
                                        <li>
                                            <span class="info">{% trans "Rate" %} : </span>{{ object.rate }}/5
                                            <i class="fa fa-star {% if object.rate >= 1 %}checked{% endif %}"></i>
                                            <i class="fa fa-star {% if object.rate >= 2 %}checked{% endif %}"></i>
                                            <i class="fa fa-star {% if object.rate >= 3 %}checked{% endif %}"></i>
                                            <i class="fa fa-star {% if object.rate >= 4 %}checked{% endif %}"></i>
                                            <i class="fa fa-star {% if object.rate >= 5 %}checked{% endif %}"></i>
                                        </li>
                                    </ul>
                                </div>
                                <!-- the comment body -->
                                <div class="comment_body">
                                    <p>{{ object.content }}</p>
                                </div>
                            </ul>
                        </ul>
                    {% endfor %}
                </div>
{#-------------------------------------------------------------------------------------------------------------------#}

            </div>
        </div>
    </div>
    <!-- /.row -->
    {% endfor %}
  </div>
  <!-- /.container -->

{% endblock %}